body {
    background-image: url("santa.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#cf2c2d;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    border: 1.5px solid #DD4A48;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.christmas {
    background-color: rgba(251, 248, 249, 0.9);
    height: 300px;
    width: 200px; 
    margin-top: 230px;
    border: 1.5px solid #DD4A48;
    border-radius: 10px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.days, .hours, .minutes, .seconds {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.red {
    color:rgb(207,44,45);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    margin-left: 70px;
}

button {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    transition: 1s;
}

button:hover {
    transform: scale(1.05);
}



@media all and (max-width: 900px) {

    h1 {
        font-size: 30px;
        text-align: center;
    }

    .buttons {
        margin-left: 0;
        justify-content: center;
    }

    h3 {
        font-size: 25px;
    }

    .days, .hours, .minutes, .seconds {
        font-size: 30px;
    }

    .christmas {
        height: 200px;
        width: 150px; 
        margin-top: 50px;
    }

    .container {
        justify-content: space-evenly;
    }

    body {
        background-size: 100%;
        margin-top: 200px;
    }

}